SECRET_KEY="long secret key"
DEBUG=False
ALLOWED_HOSTS=localhost:8000,127.0.0.1:8000

DB_ENGINE=postgresql  # default is postgresql
DB_NAME=database_name
DB_USER=user_name
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOW_CREDENTIALS=False  # default is True
SESSION_COOKIE_SAMESITE="Lax"  # default is None
# has to be set to True if SESSION_COOKIE_SAMESITE is None
SESSION_COOKIE_SECURE=False  # default is True
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

MINIO_STORAGE_ENDPOINT=localhost:9000
MINIO_ROOT_USER=user_name
MINIO_ROOT_PASSWORD=password
MINIO_STORAGE_USE_HTTPS=False
MINIO_STORAGE_MEDIA_BUCKET_NAME=media
MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET=True
MINIO_STORAGE_MEDIA_BACKUP_BUCKET=media-backup
MINIO_STORAGE_STATIC_BUCKET_NAME=static
MINIO_STORAGE_AUTO_CREATE_STATIC_BUCKET=True
