# Required: Django secret key
# Generate with:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=long_secret_key

# Optional: Debug mode (default to False)
DEBUG=True

# Optional: Comman-separated allowed hosts (defaults to [])
ALLOWED_HOSTS=localhost,127.0.0.1

# Optional: Database connection string (defaults to sqlite:///db.sqlite3)
DATABASE_URL=postgres://username:password@localhost:5432/outilidb

# Optional: defaults to True
CORS_ALLOW_CREDENTIALS=False

# Optional: defaults to None
SESSION_COOKIE_SAMESITE="Lax"

# Optional: defaults to True
# Must be True if SESSION_COOKIE_SAMESITE is None
SESSION_COOKIE_SECURE=False

# Optional: CORS settings (defaults to empty lists)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Required: MINIO object storage configs
MINIO_STORAGE_ENDPOINT=localhost:9000
MINIO_ROOT_USER=user_name
MINIO_ROOT_PASSWORD=password
# Optional: (defaults to True)
MINIO_STORAGE_USE_HTTPS=False
MINIO_STORAGE_MEDIA_BUCKET_NAME=media
# Optional: (defaults to True)
MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET=True
MINIO_STORAGE_MEDIA_BACKUP_BUCKET=media-backup

# Required: Email host
EMAIL_HOST=localhost

# Optional: Email service port on host (defaults to 25)
EMAIL_PORT=8025

# Optional: TLS on Email host (defaults to True)
EMAIL_USE_TLS=False

# Optional: Email service credentials (defaults to empty strings)
EMAI_HOST_USER=
EMAIL_HOST_PASSWORD=



